# Ignore Windows files
Thumbs.db
Desktop.ini

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore large files and binaries
*.exe
*.pkg
*.zip
*.tar
*.rar
*.7z
*.iso
*.mp4
*.mov
*.avi
*.mkv
*.pdf
*.epub

# Ignore VS Code settings
.vscode/

# Ignore macOS files
.DS_Store
